.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff944d;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
}

.add-recipe-btn {
    background-color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}